<section class="opciones--opcion">
    <div class="opcion__encabezado">
      <h2 class="opcion__encabezado__nombre">
        Aventura en {{continente}} 
      </h2>
    </div>

    <div class="opcion__destino">
        <input
        [value]="destino.site"
        class="opcion__encabezado__destino focus-in-expand"
        type="text"
        readonly
        id="destinoAmerica"
        />
    </div>

    <div class="opcion__imagen">
      <img
        [src]="imgDestino"
        alt="Destino en America"
        id="imagenAmerica"
      />
      <div class="overlay">
        <div class="text">
          <p>Pais:</p>
          <input
            class="text__input"
            type="text"
            [value]="destino.country"
            readonly
          />
          <p>Idioma:</p>
          <input
            class="text__input"
            type="text"
            [value]="destino.language"
            readonly
          />
          <p>Lugar Imperdible:</p>
          <input
            class="text__input"
            type="text"
            [value]="destino.unmissablePlace"
            readonly
          />
          <p>Comida típica:</p>
          <input
            class="text__input"
            type="text"
            [value]="destino.typicalFood"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="opcion__link__item">
      <a [routerLink]="['/planes', 'destino' + continente ]"
        ><img src="../../../assets/img/paquete.png" alt=""
      /></a>
      <span class="tooltiptext">Explora tus opciones</span>
    </div>
  </section>
